.button {
  background-color: hsl(196, 100%, 52%);
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 15px;
  color: #042576;
}

.button:active {
  background-color: hsl(196deg 100% 65.62%);
}

button:hover {
  background-color: hsl(196, 86%, 58%);
}
